.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 10px;
}
.title{
    font-size: 23px;
    color: white;
    font-weight: 600;
    span {
        color: #1341b7;
        font-size: 32px;
    }
}
.subtitle {
    color: white;
    opacity: .7;
}