.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    h3{
        color: white;
        font-size: 23px;
        font-weight: bolder;
        font-family: yekan, sans-serif;
    }
}

.socials{
    display: flex;
    align-items: center;
    gap: 15px;
    img {
        background-color: #082F49;
        padding: 8px;
        border-radius: 50%;
        width: 36px;
        height: auto;
        cursor: pointer;
        transition: all .4s ease-in-out;
    }
    img:hover{
        background-color: #0369A1;
    }
}