.container {
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 25%, rgba(28,17,108,1) 51%, rgba(14,14,14,1) 65%);
    padding: 50px;
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;
}