*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "poppins";
    font-weight: 700;
    src: url("./assets/Fonts/Poppins-SemiBold.ttf");
}
@font-face {
    font-family: "poppins";
    font-weight: 500;
    src: url("./assets/Fonts/Poppins-Regular.ttf");
}
@font-face {
    font-family: "poppins";
    font-weight: 900;
    src: url("./assets/Fonts/Poppins-Bold.ttf");
}
@font-face {
    font-family: "vazir";
    font-weight: 500;
    src: url("./assets/Fonts/Vazir-Medium-FD.ttf");
}
@font-face {
    font-family: "yekan";
    font-weight: 500;
    src: url("./assets/Fonts/Yekan.ttf");
}
body{
    font-family: poppins, sans-serif;
}